*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 6rem); /*grid-template column/row build the spacing template*/
    grid-template-rows: 9rem 4rem 9rem;
    gap: .5rem;
    cursor: pointer;        /*No matter where on screen pointer is, a click will advance the game*/
    justify-content: center;
}

.score {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.deck {
    height: 100%;       
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .25rem;
    color: white;
    user-select: none;      /*prevents user from selecting text*/
}

.computer-deck {
    background-color: red;
}

.player-deck {
    background-color: blue;
}

.text {
    grid-column: span 3;    /*makes text span all columns*/
    display: flex;          /*centers text (next 2 lines)*/
    justify-content: center;
    align-items: center;
    user-select: none; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    background-color: white;
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    user-select: none; 
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card::before,
.card::after {
    content: attr(data-rank);
    position: absolute;     
    font-size: 1.25rem;
}

.card::before {
    top: .5rem;
    left: .5rem;

}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);     

}

.score {
    display: flex;
    justify-content: center;
    align-items: center;  
    user-select: none;  
}